.footer {
  margin-top: 4rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: $sans;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  letter-spacing: 0.15rem;
}
