h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}

p, section, footer {
  font-family: $serif;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .25rem;
  font-size: 1rem;
  margin: 2rem 0 1rem;

}

h3 {
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  margin: 0 0 5rem;
  color: var(--color-primary);
}
