{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper row">
		<article class="post-type-{{ post.post_type }} col-sm-10 col-md-8 mx-auto row" id="post-{{ post.ID }}">
			<h1 class="article-h1 col-12">{{ post.title }}</h1>

			<section class="article-content col-sm-12 col-md-8">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
			<aside class="col-sm-12 col-md-4 info-sidebar">
				<div class="sticky">
					<h2>Contact me</h2>
					<p>kevin@kevinromoser.com</p>
					<ul class="skill-list">
						<li><a href="https://linkedin.com">LinkedIn</a></li>
						<li><a href="https://github.com/kromoser">Github</a></li>
						<li><a href="https://instragram.com/kevinromoser">Instagram</a></li>
					</ul>

					<h2>Professional skills</h2>
					<ul class="skill-list">
						<li>Product management</li>
						<li>Product design</li>
						<li>Web development</li>
						<li>Graphic design</li>
						<li>Branding</li>
						<li>Marketing strategy</li>
						<li>Art direction</li>
					</ul>

					<h2>Technical skills</h2>
					<ul class="skill-list">
						<li>HTML/CSS</li>
						<li>Javascript</li>
						<li>React JS</li>
						<li>WordPress/PHP</li>
						<li>Twig</li>
						<li>Adobe CC</li>
					</ul>
				</div>

			</aside>
		</article>

	</div><!-- /content-wrapper -->
{% endblock %}
