.article-h1 {
  font-weight: 900;
  margin: 12vh 0 1rem;
  font-size: 4.5rem;
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}


  .drag-panel {

    position: absolute;
    left: -15px;
    top: 12vh;
    height: calc( 100% - 12vh );
    width: 3px;
    margin-right: 12px;
    padding: 0 6px;
    border-left: 3px solid var(--color-primary);
    opacity: 0;
    cursor: w-resize;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.3;
      transition: opacity 0.2s;
    }






}
